<div class="jumbotron">
    <h1>Lista de Productos</h1>
    <br>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td><img width="50" src={{this.thumbnail}} alt="not found"></td>
            </tr>
            {{/each}}
        </table>
    </div>
    <br>
    <a href="/" type="button" class="btn btn-primary">Nuevo producto</a>
</div>   